<h2><%= @pokemon.name %></h2>
<img src='<%= @pokemon.img_url %>' <br/>

<p>Type: <%= @pokemon.poke_type %></p>
<p>Combat Power: <%= @pokemon.cp %></p>

<form action='/pokemon/<%= @pokemon.id %>' method='post'>
  <input type="hidden" name="_method" value="delete">
  <button type="Submit">DELETE THIS POKEMON</button>
</form>

<form action='/pokemon/<%= @pokemon.id %>' method='post'>
  <input type="hidden" name="_method" value="put">
  <input type="text" name="pokemon[name]" placeholder="Name" />
  <input type="text" name="pokemon[poke_type]" placeholder="Type" />
  <input type="text" name="pokemon[cp]" placeholder="Combat Power" />
  <button type="Submit">UPDATE</button>
</form>
